/* General Styling */
body {
    margin: 0;
    font-family: sans-serif;
    height: 100%;
    overflow-x: hidden; 
  }
  
  .desktop-home-page_index, .desktop-home-page_index * {
    box-sizing: border-box;
  }
  
  .desktop-home-page_index {
    background: #ffffff;
    min-height: 100vh; 
    position: relative;
    overflow-y: auto; 
    padding-bottom: 20px; 
  }
  
  /* Welcome Message */
.welcome-message_index {
    background: rgba(0, 0, 0, 0.6);
    padding: 55px 170px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    position: absolute;
    top: 149px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Container for Title and Description */
  .container_index {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .title_index {
    color: #ffffff;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    width: 520px;
  }
  
  .description_index {
    color: #ffffff;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 520px;
  }
  